@import '@style/default/app.scss';

.sidebar {
    display: flex;
    // flex-flow: column nowrap;
    flex-flow: row wrap;
    padding: 1rem .4rem;

    overflow-y: auto;
    overflow-x: hidden;

    max-width: 20rem;
    z-index: 100;

    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

    & > * {
        display: inline-block;
    }

    button {
        flex-grow: 1;
        width: 12rem;
        margin: .3rem;

        font-size: 1em;

        outline: none;
        background-color: lighten(#a7b6c2, 23);

        // border-top: 2px solid lightslategray;
        // border-left: 2px solid lightslategray;
        // border-bottom: 2px solid darken(lightslategray, 20);
        // border-right: 2px solid darken(lightslategray, 20);
        border: 1px solid lightslategray;
        box-shadow: grey .1rem .1rem;

        padding: .3rem 0;
        // margin-bottom: .5rem;

        line-height: 1.1em;

        // &:last-child {
        //     margin: 0;
        // }

        @include scale-on-hover;
    }
}

.right {
    margin-left: 1.5rem;
    padding-left: 1rem;
    border-left: grey 1px solid;
}

.left {
    margin-right: 1.5rem;
    padding-right: 1rem;
    border-right: grey 1px solid;
}