@import '@style/default/app.scss';

@mixin remove-input-text-style {
    border: none;
    outline: none;

    &:disabled {
        background-color: transparent;
    }
}

.question-card {
    padding: .5rem;
    border: 1px grey solid;
    margin-bottom: 1rem;
    width: 350px;

    &:disabled {
        filter: grayscale(100%);
    }

    & > * {
        margin-bottom: .8rem;
    }

    .question {
        @include remove-input-text-style;
    }

    .answers {
        display: flex;
        flex-flow: row wrap;
    }

    .answer__container {
        display: flex;
        flex-grow: 1;
        align-items: center;
        width: 50%;

        .answer {
            font-size: .8rem;
            @include remove-input-text-style;
        }
    }

    label {
        font-size: .8rem;
        display: block;
        margin: 0;
    }

    input[type="checkbox"] {
        display: inline-block;
        margin-right: 1rem;

        &:disabled {
            background-color: transparent;
            color: red;
        }
    }

    input[type="text"] {
        width: 100%;
    }
}