@import '@style/default/app.scss';

.title {
    font-size: 1.2em;
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-right: 2rem;
    margin-left: 1rem;
}

.tab-list {
    padding: 0 .5rem;
    margin: .1rem;
}

.tabs {
    display: flex;
    flex-flow: column nowrap;
    // display: table;
    width: 100%;
    height: 100%;
}

.tab {
    @include unselectable-text;

    &.important {
        color: darkviolet;
    }
}

.active-painel {
    flex-grow: 1;
    // display: table-row;
    width: 100%;
    height: 100%;
}